@mixin background { background-color: lime;
    color:navy;
    font-size: 3em;
    border-radius: 5%;
    &:hover{
        background-color: skyblue;
        color:hotpink;
    }
}

.button{
    @include background();
}


@mixin colorchangingsquare{
    background-color: yellow;
    transition: background-color 0.5s ease-out 1s;
    transition-timing-function: steps(10);
    width: 300px;
    height: 300px;
    border:solid 3px black;
    margin: 10px;
    &:hover{
        background-color: lime;
    }
}

.colorChangingSquare{
    @include colorchangingsquare();
}