// vraag 1
.image { 
    height: 400px * 2;
    width: auto;
    }

// Vraag 2
.image {
    height: 400px + 100;
    width: auto;
    }

    
// vraag 3
.image {
    height: 400px - 300px;
    width: auto;
    }
    
// vraag 4
.image {
    height: 200px + 100px - 400px;
    width: auto;
    }
    
// vraag 5
.image {
    height: 200px * 3;
    width: auto;
    }
    
// vraag 6 ---keer 1x veranderdt niks
// .image {
//     height: 750px * 1px;
//     width: auto;
//     }
    
// vraag 7 --werkt niet staat niet tussen haakjes.
// .image {
//     height: 30px / 5px;
//    width: 24px/ 4;
//    }


// vraag 8 --maakt het plaatje een dunnen streep
// .image {
//     height: (30px / 5px);
//     width: (24px/ 4);
//     }
    
