body {
    /* display: flex;
    flex-flow:  wrap; */
    /* width: fit-content; */
    background-color: lightgoldenrodyellow;
}

h1 {
    background-color: pink;
}

h2 {text-align: center;
    background-color: pink;
}

p {
    border: solid 1px black;
}
pre{
    font-size: 1.3em;
}

/*Rekenmachine styling */

#rkm_container{
    display: inline-block;
    position: relative;

    width: 400px;
    height: fit-content;
    justify-content: center;

    background-color: lightsteelblue;

    border: solid 5px black;
    border-radius: 10px;
    
    margin-left: 30%;
}
#rkm_scherm{
    /* padding top, right, bottom, left // met klok mee.*/
    padding: 40px 150px 40px 150px;
    margin-bottom: 10px;
    border: solid 1px yellow;
    text-align: center;
    font-size: 2em;
    background-color: lightgreen;
}
#rkm_buttonbox{
    justify-content: center;
    margin-left: 10px;
}
.rkm_button{
    
    border-radius: 50%;
    border:hidden;
    box-shadow: 0 3px red;

    padding: 25px;
    margin: 6px;

    outline:none;

    background-color: limegreen;
    color: yellow;
    font-size: 2em;
    text-align: center;
}
.rkm_button:hover{
    background-color: rebeccapurple;
}

/* individuele buttons */

#sb_calculateSign{
    padding: 20px 80px 20px 80px;
}

