
#outercontainer{
    background-color: lightgray;
}


.block1 {
    width: 100px;
    height: 100px;

    border-radius: 20px;

    line-height: 100px;
    text-align: center;

    background-color:skyblue;
    border:solid 2px black;

    transition-property: width;
    transition-duration: 3s;
    transition-timing-function: linear;


}

.block1:hover {

    background-color:skyblue;
    border:solid 3px red;
/* transition */
    width:200px;
    height: 100px;
}


@keyframes example {
    from   {background-color:red;}
    to   {background-color:green;}
    to  {background-color:yellow;}

}

