/* Stylesheet onderdeel 4 vraag 7 */

#zon2{display: absolute;
    width: 300px;
    height: 300px;
    margin: 10px;

    background: radial-gradient(ellipse at center,
    red 1%,
    yellow 70%,
    white 50% );
}

#div::before{content:"before";
    width: 300px;
    height: 300px;
    margin: 10px;

    background: radial-gradient(ellipse at center,
    red 1%,
    yellow 70%,
    white 50% );
}

#div::after{content:"after";
    width: 300px;
    height: 300px;
    margin: 10px;

    background: radial-gradient(ellipse at center,
    red 1%,
    yellow 70%,
    white 50% );
}