/* Stylesheet onderdeel 5 vraag 8 */


#container6blocks{
    display:flex;
    justify-content: center;
    flex-wrap:wrap;
    flex-direction: row;
}

.block1{  padding:0px;
    /* width: 200px;
    height: 150px; */
    margin:0px;
    border-radius: 20px;
/* flex-basis = hoeveel items naast elkaar. 32%=2items, 24%=4items  */
/* Hoe hoger procent = minder items op elke regel. */
    flex-grow:0;
    flex-basis:32%
}

/* Specifiek voor elk block */
.block1.nr1{background-color: orange;
 /* cijfer in het block  ----*/
    line-height: 150px;
    font-size: 3em;
    text-align: center;
    color:purple;
}
.block1.nr2{background-color: lime;
 /* cijfer in het block  ----*/
    line-height: 150px;
    font-size: 3em;
    text-align: center;
    color:pink;
}
.block1.nr3{background-color: pink;
 /* cijfer in het block  ----*/
    line-height: 150px;
    font-size: 3em;
    text-align: center;
    color:skyblue;
}
.block1.nr4{background-color: yellow;
 /* cijfer in het block  ----*/
    line-height: 150px;
    font-size: 3em;
    text-align: center;
    color:lime;
}
.block1.nr5{background-color: skyblue;
 /* cijfer in het block  ----*/
    line-height: 150px;
    font-size: 3em;
    text-align: center;
    color:yellow;
}
.block1.nr6{background-color: red;
 /* cijfer in het block  ----*/
    line-height: 150px;
    font-size: 3em;
    text-align: center;
    color:orange;

    background: radial-gradient(ellipse at center,
    red 10%,
    orange 100%)
}